body {
    background: #f1f1f1;
    height: 148vh;
}

/* The laptop with borders */
.laptop {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%);
    /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%);
    /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: absolute;
    width: 1366px;
    height: 800px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px 80px;
    background-color: black;
    
}
.grid-container{
    position: absolute;
    width: 600px;
    top: 600px;
    left:25%;
    padding-bottom: 20px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    gap: 20px;
    
}
.skill-data{
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
}
.odd{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    align-items: center;
    gap: 20px;
    
}
.odd a{
    text-decoration: none;
}
.live-link{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 8px;
    border-radius: 6px;
}
.live{
    background-color: rgb(202, 202, 17);
    border: 2px solid yellowgreen;
}
.live:hover{
transform: translateY(-4px);
}
.back-home2{
    border: 2px solid yellowgreen;
    background-color: turquoise;
}
.back-home2:hover{
    transform: translateY(-4px);
    }
@media only screen and (max-width: 600px) {

    /* The device with borders */
    .laptop {
        position: relative;
        width: 360px;
        height: 640px;
       
        border: 16px gray solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
    }

    /* The horizontal line on the top of the device */
    .laptop:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
    }

    /* The circle on the bottom of the device */
    .laptop:after {
        content: '';
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 50%;
        bottom: -75px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
    }

    /* The screen (or content) of the device */
    .laptop .content {
        width: 360px;
        height: 640px;
       background-color: #f1f1f1;
    }
    .grid-container{
        width: 300px;
        top: 500px;
        left: 15%;
        padding-bottom: 20px;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 100px);

        
    }
}

@media only screen and (min-width: 600px) {

    /* The device with borders */
    .laptop {
        position: relative;
        width: 768px;
        height: 1024px;
        margin: auto;
        border: 16px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
    }

    /* The horizontal line on the top of the device */
    .laptop:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
    }

    /* The circle on the bottom of the device */
    .laptop:after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
    }

    /* The screen (or content) of the device */
    .laptop .content {
        width: 768px;
        height: 1024px;
        background: white;
        margin: -1px;
    }
    .grid-container{
        width: 400px;
        top: 700px;
        left: 30%;
        padding-bottom: 20px;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 100px);

        
    }
}
@media only screen and (min-width: 992px) {
    .laptop {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(.6) translate(-50%);
        /* Scaled down for a better Try-it experience (change to 1 for full scale) */
        transform: scale(.6) translate(-50%);
        /* Scaled down for a better Try-it experience (change to 1 for full scale) */
        left: 50%;
        position: relative;
        width: 1366px;
        height: 800px;
        border-radius: 6px;
        border-style: solid;
        border-color: #212529;
        border-width: 50px 30px 80px;
        box-shadow: 1px #4a4a;
        background-color: black;
    
    }
/* The keyboard of the laptop */
/* The keyboard of the laptop */
.laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0px 0 0 -110px;
    left: 58%;
    background-color: #000;
    bottom: 0;
    border-radius: 50%;
}

/* The top of the keyboard */
.laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 40px;
    top: 882px;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: rgb(238, 224, 224);
    border-top: 2px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 8px #f4ebeb;

    z-index: 1;
    
}

/* The screen (or content) of the device */
.laptop .content {
    width: 1366px;
    height: 800px;
    overflow: hidden;
    border: none;
}
.grid-container{
    position: absolute;
    width: 600px;
    top: 600px;
    left:25%;
    padding-bottom: 20px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    gap: 20px;
    
}
.skill-data{
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
}
.odd{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    align-items: center;
    gap: 20px;
    
}



}
    